#search-box {
  position: relative;
  width: 100%;
  margin: 0;
}
#search-form {
  height: 32px;
  border: 1px solid #feacae;
  background-color: #fff;
  overflow: hidden;
}
#search-text {
  font-size: 14px;
  color: #ddd;
  border-width: 0;
  background: transparent;
}

#search-box input[type="text"] {
  width: 90%;
  padding: 8px 0 12px 1em;
  color: #333;
  outline: none;
}
#search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 34px;
  width: 80px;
  font-size: 14px;
  color: #555;
  text-align: center;
  line-height: 4px;
  border-width: 0;
  background-color: #cbf3ee;
  cursor: pointer;
}
