* {
  /* Todos los elementos adquieren: */
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #434343;
  width: 100%;
  height: 100%;
}

/* ------------ [ Header ] ------------ */

header {
  background-color: #161616;
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: 100px;
}

div#top-header,
div#bottom-header {
  width: 100%;
  height: 50%;
}

div#top-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div#logo {
  background-color: aqua;
}

/* ------------ [ Sections ] ------------ */

div#body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0 50px 0;
}

/* ------------ [ NAV ] ------------ */

nav {
  position: sticky;
  top: 10%;
  float: left;
  width: 200px;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 1px 1px 20px 0px black;
  border: 1px solid black;
  border-radius: 10px;
}

/* ------------ [ Info ] ------------ */

div#info {
  width: 70%;
  height: 100em;
  background-color: #ffffff;
  box-shadow: 1px 1px 20px 0px black;
  border: 1px solid black;
  border-radius: 10px;
}

/* ------------ [ Footer ] ------------ */

footer {
  height: 200px;
  width: 100%;
  background-color: black;
}

/* ------------ [ Conditionals ] ------------ */
