<h1>Owners list
    <button class="btn btn-success" routerLink="/form-owner/-1">Añadir Owner</button>
</h1>

<div class="container container-fluid">
    <table class="table table-striped">
        <thead>
            <tr class="table-info">
                <th>NAME</th>
                <th>ADDRESS</th>
                <th>CITY</th>
                <th>TELEPHONE</th>
                <th>PETS</th>
            </tr>
        </thead>
        <tbody>
            @for (p of pets; track $index) {
            <tr>
                <td>
                    <a routerLink="/pet/{{p.id}}">{{p +" "+ p}}</a>
                </td>
                <td>{{p}}</td>
                <td>{{p}}</td>
                <td>{{p}}</td>
                <td>{{p}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <button class="btn btn-secondary" routerLink="/">Atrás</button>
</div>