* {
  margin: 0px;
}

header {
  width: 100%;
  height: 150px;

  #header-top,
  #header-bottom {
    width: 100%;
    height: 50%;
    background-color: rgb(37, 37, 66);
  }
}

main {
  width: 100%;
  height: 60em;
  background-image: url(recursos/fondo-main.png);

  #main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;

    #cantidad {
      display: flex;
      flex-direction: row;
      width: 30%;
      height: 20em;

      #numero {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;

        #cifra {
          border: none;
          color: rgb(214, 214, 214);
          text-align: center;
          font-size: 4em;
          width: 40%;
          height: 40%;
          border-bottom: 3px solid black;
          background-color: rgb(37, 37, 66);
          border-radius: 10px;
          outline: none;
        }

        #cifra:focus {
          border: none;
        }
      }

      #divisa {
        height: 100%;
        width: 50%;
      }
    }

    #tabla {
      width: 70%;
      height: 20em;
      /* height: fit-content; para que se ajuste segun el tamaño de la tabla */
      background-color: brown;
    }
  }
}