<div class="container container-fluid">
    <h1>Pet clinic</h1>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" routerLink="/owners/">Propietarios</button>
        </div>
        <div class="col">
            <button class="btn btn-primary" routerLink="/vets/">Veterinarios</button>
        </div>
        <div class="col">
            <button class="btn btn-primary" routerLink="/pets/">Mascotas</button>
        </div>
    </div>
</div>