<div class="container">
    <form action="">
        <p>
            <label for="dni">DNI: </label>
            <input type="text" name="dni" id="dni" value={{persona.dni}}>
        </p>

        <p>
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" id="nombre" value={{persona.nombre}}>
        </p>
        <p>
            <label for="apellidos">Apellidos: </label>
            <input type="text" name="apellidos" id="apellidos" value={{persona.apellidos}}>
        </p>
        <button class="btn btn-primary">Añadir</button>
    </form>
</div>