<h1>Propietario</h1>

<div class="container container-fluid">

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><b>Nombre: </b></td>
                <td>{{owner.firstName + " " +owner.lastName}}</td>
            </tr>
            <tr>
                <td><b>Direccion: </b></td>
                <td>{{owner.address}}</td>
            </tr>
            <tr>
                <td><b>Ciudad: </b></td>
                <td>{{owner.city}}</td>
            </tr>
            <tr>
                <td><b>Telefono: </b></td>
                <td>{{owner.telephone}}</td>
            </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-secondary" routerLink="/owners/">Volver</button>
<span> | </span>
<button class="btn btn-primary" routerLink="/crud-owner/{{owner.id}}">Modificar Owner</button>
<span> | </span>
<button class="btn btn-danger" (click)="eliminarOwner(owner)">Eliminar Owner</button>